<div class="container">
    <h4>Edit goal</h4>
    <form (ngSubmit)="updateGoal(goalForm)" #goalForm="ngForm">
      <div class="form-group">
        <label for="activityId">Activity:</label>
        <select id="activityId" class="form-control" [(ngModel)]="goal.activityId" name="activityId" required>
          <option *ngFor="let activity of activities" [value]="activity.id">{{ activity.name }}</option>
        </select>
      </div> 
      <div class="form-group">
        <label for="durationUnit">Duration unit:</label>
        <select id="durationUnit" class="form-control" [(ngModel)]="goal.durationUnit" name="durationUnit" required>
          <option value="time">Time</option>
          <option value="frequency">Frequency</option>
        </select>
      </div>
      <div class="form-group">
        <label for="duration">Duration:</label>
        <input type="number" id="duration" class="form-control" placeholder="Enter duration" [(ngModel)]="goal.duration" name="duration" *ngIf="goal.durationUnit === 'time'" required>
      </div>
      <div class="form-group">
        <label for="frequency">Frequency:</label>
        <input type="number" id="frequency" class="form-control" placeholder="Enter frequency" [(ngModel)]="goal.frequency" name="frequency" *ngIf="goal.durationUnit === 'frequency'" required>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Update goal</button>
      <button class="btn btn-secondary btn-block" (click)="cancel()">Cancel</button>
    </form>
    <app-popup-message *ngIf="successMessage" [message]="successMessage" type="success"></app-popup-message>
    <app-popup-message *ngIf="errorMessage" [message]="errorMessage" type="error"></app-popup-message>
  </div>
