.activity-container {
  padding: 20px;
  background-color: #f0f7f2; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: auto;
  margin-top: 40px;
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

form div {
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
}

form input[type="text"],
form input[type="date"],
form select {
  padding: 10px;
  border: 1px solid #4CAF50;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
}

button[type="submit"] {
  background-color: #333333; 
  border-color: #333333; 
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
  margin-bottom: 10px;
}

button[type="submit"]:hover {
  background-color: rgb(82, 112, 98);
  border-color: rgb(82, 112, 98);
}

.btn-secondary:hover {
  background-color: #5a6268;
  border-color: #5a6268;
}