<div class="activity-container">
    <h2>Add new activity</h2>
    <form (ngSubmit)="addActivity(activityForm)" #activityForm="ngForm">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" [(ngModel)]="newActivity.name" name="name" required>
      </div>
      <div>
        <label for="activityTypeId">Activity type:</label>
        <select id="activityTypeId" [(ngModel)]="newActivity.activityTypeId" name="activityTypeId" required>
          <option *ngFor="let type of activityTypes" [value]="type.id">{{ type.name }}</option>
        </select>
      </div>
      <div>
        <label for="description">Description:</label>
        <input type="text" id="description" [(ngModel)]="newActivity.description" name="description" required>
      </div>
      <div>
        <label for="startDate">Start date:</label>
        <input type="date" id="startDate" [(ngModel)]="newActivity.startDate" name="startDate" required>
      </div>
      <div>
        <label for="duration">Duration (min):</label>
        <input type="text" id="duration" [(ngModel)]="newActivity.duration" name="duration" required>
      </div>
      <button type="submit">Add activity</button>
      <button class="btn btn-secondary btn-block" (click)="cancel()">Cancel</button>
    </form>
</div>
  