<div class="wrapper">
  <h3>Achievements</h3>
  <div class="button-container">
    <button routerLink="/achievement-add" class="add-button">Add new achievement</button>
  </div>
  <table class="table activity-table">
    <thead>
      <tr>
        <th>Goal</th>
        <th>Date</th>
        <th>Achieved time (min)</th>
        <th>Achieved frequency</th>
        <th>Achieved</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let achievement of achievements" [style.background-color]="achievement.achieved ? '#a2e8a2' : '#ffcccc'">
        <td>{{ getActivityName(achievement.goalId) }}</td>
        <td>{{ achievement.date | date }}</td>
        <td>{{ achievement.achievedTime }}</td>
        <td>{{ achievement.achievedFrequency }}</td>
        <td>{{ achievement.achieved ? 'Yes' : 'No' }}</td>
      </tr>
    </tbody>
  </table>
</div>
