.wrapper {
  padding: 2em;
  background-color: #f0f7f2;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: auto;
  margin-top: 10px;
}
h4 {
  text-align: center;
  margin-bottom: 20px;
}

input[type="text"],
select,
input[type="date"] {
  margin: 0.5em;
  padding: 0.5em;
  border: 1px solid #4CAF50;
  border-radius: 5px;
  width: calc(100% / 4 - 1em);
  box-sizing: border-box;
}

.add-button {
  color: white; 
  background-color: #333333;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  float: inline-end;
  margin: 1em auto;
  max-width: 400px;
}

.add-button:hover {
  background-color: rgb(82, 112, 98);
}

.activity-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}

.activity-table th,
.activity-table td {
  border: 1px solid #4CAF50;
  padding: 0.75em;
  text-align: left;
}

.activity-table th {
  background-color: rgb(159, 196, 179);
  color: #333333;
}

.activity-table td {
  background-color:white; 
}


.edit-button {
  color:white;
  background-color: #333333;
  border: none;
  padding: 0.25em 0.5em;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
  display: block;
}

.edit-button:hover {
  background-color: rgb(82, 112, 98);
}

.delete-button {
  color:white;
  background-color: #765252;
  border: none;
  padding: 0.25em 0.5em;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
  display: block;
}

.delete-button:hover {
  background-color: rgb(130, 66, 66);
}
