header {
    background: #f0f7f2;
    padding: 1em 0;
    border-bottom: 1px solid #b1bfcb; 
  }
  
  a {
    color: #333333;
  }
  
  a:hover {
    background-color: #709f8f;
    color: #FFFFFF;
  }
  
  .container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  .main-menu {
    display: flex;
  }
  
  a.logo {
    font-weight: bold;
    padding: 1em;
  }
  
  nav {
    width: 80%;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .left-align {
    display: flex;
  }
  
  .right-align {
    margin-left: auto;
  }
  
  nav ul li {
    display: inline;
    cursor: pointer;
  }
  
  nav ul li a {
    padding: 1em;
    display: inline-block;
  }
  