<div class="container">
    <h4>Activity goals overview</h4>
    <button class="btn btn-primary" (click)="addNewGoal()">Add goal</button>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Activity</th>
          <th>Duration unit</th>
          <th>Duration (min)</th>
          <th>Frequency</th>
          <th>Created date</th>
          <th>Updated date</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let goal of goals">
          <td>{{ getActivityName(goal.activityId) }}</td>
          <td>{{ goal.durationUnit }}</td>
          <td>{{ goal.duration }}</td>
          <td>{{ goal.frequency }}</td>
          <td>{{ goal.createdDate | date: 'dd/MM/yyyy' }}</td>
          <td>{{ goal.updatedDate | date: 'dd/MM/yyyy' }}</td>
          <td><button class="edit-button"(click)="editGoal(goal.id)">Edit</button></td>
          <td><button class="delete-button"(click)="deleteGoal(goal.id)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  